/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra Bold: 800


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

#111111
#181818
#1e1e1e
#c91b28
#f83241
#ffffff
#cecece

--- 05 SHADOWS

0.5rem 0.5rem 1rem rgb(168 157 157 / 36%);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--bg-dark: #111111;
	--bg-dark-light: #181818;
	--bg-dark-light-2: #1e1e1e;
	--primary: #c91b28;
	--primary-light: #f83241;
	--white: #ffffff;
	--text-gray: #cecece;
}

body {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.5px;
}

.container {
	color: var(--white);
	background-color: var(--bg-dark);
}

.navbar {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	padding: 2.4rem 0;
	align-items: center;
}

.logo-container img {
	height: 5.4rem;
}

.list {
	list-style-type: none;
	display: flex;
	gap: 6.4rem;

	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 500;
}

.list li {
	transition: all 0.3s;
}

.list li:hover {
	color: var(--primary-light);
	cursor: pointer;
}

/*---------------------- hero section --------------------*/

.hero {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	position: relative;
}

.left-image img {
	width: 64rem;
	margin-top: -8rem;
}

.right-headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.2rem;
}

.right-headline h4 {
	color: var(--primary-light);
	font-size: 1.6rem;
}

.right-headline h1 {
	font-size: 4.4rem;
}

.right-headline p {
	font-size: 1.8rem;
	line-height: 1.6;
}

.btn {
	align-self: flex-start;
	background-color: var(--primary);
	border: none;
	color: var(--white);
	font-size: 1.8rem;
	text-transform: uppercase;
	padding: 1.8rem 4rem;
	transition: all 0.3s;
}

.btn:hover {
	color: var(--primary);
	background-color: var(--white);
}
/*----------------------- service section ----------------------*/
.serveice-section {
	background: linear-gradient(
		to right,
		var(--bg-dark-light) 0%,
		var(--bg-dark-light) 50%,
		var(--bg-dark) 50%,
		var(--bg-dark) 100%
	);

	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.service-cards {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3.2rem;
}

.service-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 3.2rem;
	margin-top: 9.6rem;
	background-color: var(--bg-dark-light-2);
	transition: all 0.4s;
}

.service-card:hover {
	background-color: transparent;
}

.service-card:nth-child(2) {
	background-color: var(--primary);
}

.service-card:nth-child(2):hover {
	background-color: var(--primary-light);
}

.service-card h1 {
	font-size: 3rem;
	font-weight: 600;
}

.service-card p {
	font-size: 1.8rem;
	line-height: 1.6;
	color: var(--text-gray);
}

.service-btn i {
	color: var(--primary-light);
}

.service-btn {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}

.btn-2 {
	color: var(--primary-light);
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 400;
}

.service-card:nth-child(2) button {
	color: var(--white);
}

.service-card:nth-child(2) i {
	color: var(--white);
}

.service-stats {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	margin-top: 8rem;
	margin-bottom: 9.6rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3.2rem;
	row-gap: 3.2rem;
}

.left {
	text-align: center;
	align-self: center;
	grid-row: 1 / span 2;
}

.left h1 {
	color: var(--primary-light);
	font-size: 8.6rem;
	font-weight: 900;
}

.service-stats .left p {
	font-size: 3rem;
	font-weight: 600;
}

.card {
	background-color: var(--bg-dark-light-2);
	padding: 3.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.4s;
}

.card:hover {
	background-color: transparent;
}

.card h1 {
	color: var(--primary-light);
	font-size: 3.6rem;
}

.card p {
	color: var(--text-gray);
	font-size: 1.8rem;
}

/*----------------------- project section ---------------------*/

.featured-projects {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	margin-top: 9.6rem;
	padding: 0 2.4rem;
}

.project-headline {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 40px;
}

.headline-left {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.headline-left h1 {
	font-size: 4.4rem;
	text-transform: uppercase;
	font-weight: 900;
}

.headline-left p {
	font-size: 2rem;
	color: var(--text-gray);
}

.headline-right button {
	background-color: var(--primary-light);
	color: var(--white);
	padding: 1.4rem 4rem;
	text-transform: uppercase;
	font-size: 1.8rem;
	transition: all 0.3s;
}

.headline-right button:hover {
	background-color: var(--white);
	color: var(--primary-light);
	cursor: pointer;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 3.2rem;
	column-gap: 3.2rem;
}

.project-img {
	background-color: var(--bg-dark-light-2);

	display: flex;
	justify-content: center;
	align-items: center;
	height: 45rem;
	margin-bottom: 2.4rem;
	transition: all 0.4s;
}

.project-img:hover {
	background-color: var(--bg-dark-light);
}

.project-img img {
	height: 32rem;
	width: 50rem;
}

.project-card h1 {
	font-size: 1.8rem;
	font-weight: 900;
	margin-bottom: 1.2rem;
}

.project-card span {
	color: var(--primary-light);
	display: flex;
	align-items: center;
	gap: 10px;
}

.proj-btn {
	color: var(--primary-light);
	border: none;
	text-transform: uppercase;
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 600;
	cursor: pointer;
}

/*----------------------- contact section --------------------*/

.contact-section {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	margin-top: 9.6rem;
	margin-bottom: 40px;
}

.contact-card {
	background-color: var(--bg-dark-light-2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4.8rem;
}

.left-text h1 {
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 2.4rem;
}

.left-text p {
	font-size: 1.8rem;
	line-height: 1.6;
	font-weight: lighter;
}

.right {
	padding-right: 9.6rem;
}

.contact-btn {
	background-color: var(--primary-light);
	color: var(--white);
	border: none;
	padding: 1.8rem 6rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	transition: all 0.3s;
}

.contact-btn:hover {
	background-color: var(--white);
	color: var(--primary-light);
	cursor: pointer;
}
/*----------------------- footer nav --------------------------*/
.footer-nav {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;
}

.footer-nav ul {
	list-style-type: none;
	display: flex;
	gap: 4.8rem;

	justify-content: center;
	margin-top: 9.6rem;
	padding-bottom: 4.8rem;

	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
}

.footer-wrapper {
	background-color: var(--bg-dark-light-2);
	padding: 4.8rem 0;
	display: flex;
	align-items: center;
}

.footer-mx {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer img {
	height: 5.4rem;
}

.social-icons {
	display: flex;
	gap: 3.2rem;
}
